.DS_STORE
node_modules/
*~
#*
*#
semantic/dist/components
semantic/dist/themes/*
!semantic/dist/*.js
!semantic/dist/*.css
!semantic/dist/themes/default/
.sass-cache/
style.css.map
app-env
*.log
npm-debug.log
