<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/chessboard-0.3.0.min.css">
</head>
<body>
    
    <div id="board" style="width: 400px"></div>  
    <!--Your new content will be displayed in here-->
    <div class="content-placeholder"></div>

    <div class="ui modal">
    Are you sure you wish to make this move?
  <div id="declineBtn" class="actions">
    <div class="ui black deny button">
      Nope
    </div>
    <div id="confirmBtn" class="ui positive right labeled icon button">
      Yep, that's me
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <script type="text/javascript" src="../semantic/dist/semantic.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
    <script type="text/javascript" src="../public/js/chessboard-0.3.0.min.js"></script>
    <script type="text/javascript" src="../public/js/index.js"></script>
</body>
</html>
