<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/chessboard-0.3.0.min.css">
</head>
<body>
    
    <div class="chessboard">
        <h3 class="ui header">enter your move:</h3>
        <div id="board" style="width: 400px"></div>  
    </div>
        <div class="ui hidden compact small negative message" id="error-msg">
            <i class="close icon"></i>
            not a valid move 
        </div>
    <div class="ui mini modal">
        <div class="header" id="modal-header">are you sure you want to make this move?</div>
        <div class="actions">
            <div id="declineBtn" class="ui basic deny button">
                no
            </div>
            <div id="confirmBtn" class="ui gray button">
                yes
            </div>
        </div>
        </div>
    
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <script type="text/javascript" src="../semantic/dist/semantic.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
    <script type="text/javascript" src="../public/js/chessboard-0.3.0.min.js"></script>
    <script type="text/javascript" src="../public/js/index.js"></script>
    <script>
        $('.message .close')
          .on('click', function() {
            $(this)
              .closest('.message')
              .transition('fade')
            ;
        });
    </script>
</body>
</html>
