<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="../public/css/main.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="../semantic/dist/semantic.min.js"></script>
</head>
<body>
  <form class="ui form" id="input-form">
    <button class="ui blue button" type="submit" id="input-form-button">Start a Game</button>
  </form>
</body>
</html>
