<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
<body>

    <div class="landing">
        <h2 class="ui header">1.</h2>
        <button class="ui basic button" id="twitterBtn">sign in with your twitter</button>
        <div class="ui divider"></div>
        <h2 class="ui header">2.</h2>
        <form class="ui small form">
          <div class="field">
            <label id="label">enter your friends' username</label>
            <input type="text" name="username" placeholder="their username">
          </div>
          <button class="ui basic button" type="submit" id="challengeBtn">send a challenge</button>
        </form>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <script type="text/javascript" src="../semantic/dist/semantic.min.js"></script>
    <script type="text/javascript" src="../public/js/index.js"></script>

    <script>
    $(function() {
        $("#twitterBtn").on("click", function() {
            console.log("Ayy");
            window.location.href = "http://localhost:3000/twitter-request-token";
        });
    });
    </script>
</body>
</html>
