<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
<body>

    <div class="landing">
        <div class="ui vertically divided four wide grid">
            <div class="row">
                <div class="column">
        <form class="ui small form" id="invite-form">
  <h4 class="ui dividing header">enter your friend's username</h4>
          <div class="field">
              <div class="ui input">
                <input id="user" type="text" name="username" placeholder="their username">
              </div>
          </div>
        </form>
        <div class="ui hidden divider" id="divider"></div>
        <button class="ui basic button" id="challengeBtn" type="submit">send a challenge</button>
                </div>
        </div>
            
        {{#if exists_game}}
            <div class="row">
                <div class="column">
        <button class="ui basic button" id="gameBtn" type="submit">go to existing game</button>
                </div>
            </div>
        {{/if}}
    </div>
    </div>
    
        <div class="ui hidden compact small negative message" id="error-msg">
            <i class="close icon"></i>
            not a valid user
        </div>
        <div class="ui hidden compact small positive message" id="success-msg">
            <i class="close icon"></i>
            success!
        </div>
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <script type="text/javascript" src="../semantic/dist/semantic.min.js"></script>
    <script>
        function myCallback(jsonp) {
            console.log(jsonp);
        }
        $('.message .close')
          .on('click', function() {
            $(this)
              .closest('.message')
              .transition('fade')});

        $(function() {
            $("#challengeBtn").on("click", function() {
                $('#success-msg').removeClass('hidden');
                $.ajax({
                    url: '/api/new_game?player1=' + '{{{ player1.screen_name }}}' + '&player2=' + $('#user').val(),
                    type: 'post',
                    success: function (result) {
                        window.location.href = "/game";
                    }
                })
            })
        });      
    </script>
    {{#if exists_game}}
    <script>
        $(function() {
            $("#gameBtn").on("click", function() { 
                window.location.href = "http://localhost:3000/game/" + '{{{ game_id }}}';
            })
        });
    </script>   
    {{/if}}
</body>
</html>
