<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
<body>
        <div class="ui hidden compact small negative message" id="error-msg">
            <i class="close icon"></i>
            not a valid user
        </div>
        <div class="ui hidden compact small positive message" id="success-msg">
            <i class="close icon"></i>
            success!
        </div>
    
    <div class="landing">
        <form class="ui small form" id="invite-form">
          <div class="field">
            <label id="label">enter your friends' username</label>
              <div class="ui input">
                <input id="user" type="text" name="username" placeholder="their username">
              </div>
          </div>
        </form>
        
        <button class="ui basic button" id="challengeBtn" type="submit">send a challenge</button>
        
    </div>
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <script type="text/javascript" src="../semantic/dist/semantic.min.js"></script>
    <script>
        function myCallback(jsonp) {
            console.log(jsonp);
        }
        $('.message .close')
          .on('click', function() {
            $(this)
              .closest('.message')
              .transition('fade')});

        $(function() {
            $("#challengeBtn").on("click", function() { 
                // $.ajax({
                //     url: "http://api.twitter.com/1.1/users/search.json?q=" + $("#user").val() + "&count=1",
                //     dataType: 'jsonp',
                //     error: function () {
                //         $('.message').removeClass('hidden');
                //     },
                //     success: function (result) {
                        $.ajax({
                            url: '/api/new_game?player1=' + '{{{ player1.screen_name }}}' + '&player2=' + $('#user').val(),
                            type: 'post',
                            success: function (result) {
                                $('#success-msg').removeClass('hidden');
                            }
                        })
                    })
                })
            //})
        //});            
    </script>
</body>
</html>
