$dark-grey: #999999;
$light-grey: #CCCCCC;

.buttons {
    position: fixed;
    top: 50%;
    left: 50%;
}

#confirmBtn, #twitterBtn, #declineBtn, #confirmBtn {
    font-weight: 400;
}

.landing, .chessboard {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.landing {
    width: 30%;
}

.ui.header, #invite-form, #label, #invite-header, #header, #modal-header {
    color: $dark-grey;
    font-weight: 400;
}

#actions {
    background-color: #FFFFFF;
}

#error-msg, #success-msg {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
}

#divider {
    margin: 5px;
}